
.banner
{
  min-height:auto;
padding:1px;
padding-left: 1px;
padding-right: 1px;
height:auto;
width:100%;
max-width: 1540px;
max-height:500px;

}
.banner{

  filter: blur(2px);
  -webkit-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  z-index: -1;
}
.title
{
  height: auto;
  font-weight: bold;
  text-align: center;
  color: rgb(49, 215, 237);
  padding-top: 250px;
  padding-right:0px;
  font-size: 80px;
}
/* h2{
  background-color: aqua;
  text-align: center;
  text-shadow: 0.5rem;
} */
.navbar-nav
{
  padding-left: 500px;
}
.navbar-brand
{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifx
}
.nav-link dropdown-toggle
{
  padding: 30px;
}
 img{
  padding-top:25px;
  width:460px;
  height: 300px;
  object-fit:cover;
  padding-right: 10px;
  padding-left: 10px;
  color: rgb(255, 255, 255);
} 

 .image-grid
{
  /* display:contents;
grid-template-columns: repeat(auto-fill,minmax(450px,1fr)); */
display: grid;
grid-template-columns: auto auto auto ;
gap: 10px;
background-color:#342b5c ;
padding: 10px;
}


.logo
{
  padding: auto;
align-self: center;
padding-inline: 700px;
max-height: auto;

} 
img{
  padding-top:25px; 
  width:460px;
  height: 300px;
  object-fit:cover; 
  padding-right: 10px;
  padding-left: 10px; 
  color: black; 
} 
/* img:hover
{
  filter: blur(2px);
  -webkit-filter: blur(3px);
} */

.responsive{  
  width: 100%;
  height: auto;
}

.image-grid {
  position: relative;
  width: 100%;
  height: auto;
}
/* .image-grid:hover img{ */
  /* filter: blur(2px);
  -webkit-filter: blur(3px); */
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: -1; */

.content {
  position:relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center;
  padding:60px 0;
  background: rgba(255, 255, 255, 0.4); 
  color: rgb(0, 0, 0);
  visibility: hidden;
  /* opacity: ; */
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size: large;
  font-weight: bold;
  /* transition effect. not necessary */
  transition: opacity .2.5s, visibility .2s;
}


.image-wrap:hover .content {
  visibility: visible;
  opacity:2px;

  
}
.image-wrap .content {
  visibility: visible;
  opacity:1;
padding-inline-start:10px;
 text-align: center;
 padding-bottom:100px;
 margin: 10px;
 max-width: 10px solid;
 mask-border: 10px;
 margin-inline-end: 10px;
border-color: aliceblue;
border-radius: 10px ;
/* box-sizing: content-box; */
border-width: 10px;
box-shadow: rgb(0, 0, 0);
border-collapse: separate;
border-bottom-right-radius: 80px;
text-align: center;
  
}
.tag
{ 
  font-weight: bold;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 255, 255);
  visibility: visible;
  opacity:1;
 text-align: center;  
 margin: 10px;
 max-width: 10px solid;
 mask-border: 10px;
 margin-inline-end: 10px;
border-color: aliceblue;
border-radius: 10px ;
/* box-sizing: content-box; */
border-width: 10px;
border-collapse: separate;
border-bottom-right-radius: 80px;
text-align: center;
}