
.banner
{
  min-height:auto;
padding:1px;
padding-left: 1px;
padding-right: 1px;
height:auto;
width:100%;
max-width: 1540px;
max-height:500px;

}
.banner{

  filter: blur(2px);
  -webkit-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  z-index: -1;
}
.title
{
  height: auto;
  font-weight: bold;
  text-align: center;
  color: rgb(253, 246, 244);
  padding-top: 250px;
  padding-right:0px;
  font-size: 80px;
}
/* h2{
  background-color: aqua;
  text-align: center;
  text-shadow: 0.5rem;
} */
.navbar-nav
{
  padding-left: 500px;
}
.navbar-brand
{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifx
}
.nav-link dropdown-toggle
{
  padding: 30px;
}
 img{
  padding-top:25px;
  width:460px;
  height: 300px;
  object-fit:cover;
  padding-right: 10px;
  padding-left: 10px;
  color: black;
} 

 .image-grid
{
  /* display:contents;
grid-template-columns: repeat(auto-fill,minmax(450px,1fr)); */
display: grid;
grid-template-columns: auto auto auto ;
gap: 10px;
background-color: #000000;
padding: 10px;
}
.logo
{
  padding: auto;
align-self: center;
padding-inline: 700px;
max-height: auto;

} 
img{
  padding-top:25px;
  width:460px;
  height: 300px;
  object-fit:cover;
  padding-right: 10px;
  padding-left: 10px;
  color: black;
}